<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <!--Root menu-->

    <menuitem id="tdm" name="Jumelage-emploi" sequence="20" web_icon="tdm,static/description/icon.png" />

    <!--Sub menu-->

    <menuitem id="configuration" name="Configuration" sequence="4" parent="tdm" />

    <menuitem
        id="offre_emploi"
        name="Emploi"
        action="tdm_offre_emploi_offre_emploi_action_window"
        sequence="1"
        parent="tdm"
    />

    <menuitem
        id="offre_emploi_applique"
        name="Candidat"
        action="tdm_offre_emploi_applique_offre_emploi_applique_action_window"
        sequence="2"
        parent="tdm"
    />

    <menuitem id="entrevue" name="Entrevue" action="tdm_entrevue_entrevue_action_window" sequence="3" parent="tdm" />

    <!--Child menu-->

    <menuitem
        id="entrevue_stage"
        name="Processus d'entrevue"
        action="tdm_entrevue_stage_entrevue_stage_action_window"
        sequence="1"
        parent="configuration"
    />

    <menuitem
        id="offre_emploi_applique_stage"
        name="Processus de candidature"
        action="tdm_offre_emploi_applique_stage_offre_emploi_applique_stage_action_window"
        sequence="2"
        parent="configuration"
    />

    <menuitem
        id="offre_emploi_stage"
        name="État des emplois"
        action="tdm_offre_emploi_stage_offre_emploi_stage_action_window"
        sequence="3"
        parent="configuration"
    />

    <menuitem
        id="travailleur_stage"
        name="État des travailleurs"
        action="tdm_travailleur_stage_travailleur_stage_action_window"
        sequence="4"
        parent="configuration"
    />

    <menuitem id="configuration_emploi_menu" name="Emploi" sequence="5" parent="configuration" />

    <menuitem
        id="offre_emploi_category"
        name="Offre emploi category"
        action="tdm_offre_emploi_category_offre_emploi_category_action_window"
        sequence="1"
        parent="configuration_emploi_menu"
    />

    <menuitem
        id="offre_emploi_tag"
        name="Offre emploi tag"
        action="tdm_offre_emploi_tag_offre_emploi_tag_action_window"
        sequence="2"
        parent="configuration_emploi_menu"
    />

    <menuitem
        id="offre_emploi_type"
        name="Offre emploi type"
        action="tdm_offre_emploi_type_offre_emploi_type_action_window"
        sequence="3"
        parent="configuration_emploi_menu"
    />

    <menuitem
        id="secteur_activite"
        name="Secteur activite"
        action="tdm_secteur_activite_secteur_activite_action_window"
        sequence="6"
        parent="configuration"
    />
</odoo>
