<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <!--Root menu-->

    <menuitem id="tdm" name="Tdm" sequence="20" web_icon="tdm,static/description/icon.png" />

    <!--Sub menu-->

    <menuitem id="menu" name="Menu" sequence="1" parent="tdm" />

    <!--Child menu-->

    <menuitem id="entrevue" name="Entrevue" action="tdm_entrevue_entrevue_action_window" sequence="1" parent="menu" />

    <menuitem
        id="entrevue_stage"
        name="Entrevue stage"
        action="tdm_entrevue_stage_entrevue_stage_action_window"
        sequence="2"
        parent="menu"
    />

    <menuitem
        id="offre_emploi"
        name="Offre emploi"
        action="tdm_offre_emploi_offre_emploi_action_window"
        sequence="3"
        parent="menu"
    />

    <menuitem
        id="offre_emploi_applique"
        name="Offre emploi applique"
        action="tdm_offre_emploi_applique_offre_emploi_applique_action_window"
        sequence="4"
        parent="menu"
    />

    <menuitem
        id="offre_emploi_applique_stage"
        name="Offre emploi applique stage"
        action="tdm_offre_emploi_applique_stage_offre_emploi_applique_stage_action_window"
        sequence="5"
        parent="menu"
    />

    <menuitem
        id="offre_emploi_stage"
        name="Offre emploi stage"
        action="tdm_offre_emploi_stage_offre_emploi_stage_action_window"
        sequence="6"
        parent="menu"
    />

    <menuitem
        id="profil_entreprise"
        name="Profil entreprise"
        action="tdm_profil_entreprise_profil_entreprise_action_window"
        sequence="7"
        parent="menu"
    />

    <menuitem
        id="profil_entreprise_stage"
        name="Profil entreprise stage"
        action="tdm_profil_entreprise_stage_profil_entreprise_stage_action_window"
        sequence="8"
        parent="menu"
    />

    <menuitem
        id="profil_travailleur"
        name="Profil travailleur"
        action="tdm_profil_travailleur_profil_travailleur_action_window"
        sequence="9"
        parent="menu"
    />

    <menuitem
        id="profil_travailleur_stage"
        name="Profil travailleur stage"
        action="tdm_profil_travailleur_stage_profil_travailleur_stage_action_window"
        sequence="10"
        parent="menu"
    />
</odoo>
