/*
    SCSS
*/

.informations {
    align-items: center;
    display: flex;
    gap: 0.75rem;
    width: 100%;
    &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
    &-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    & + & {
        margin-top: .5rem;
    }
}

.informations__delete {
    align-items: center;
    background-color: #c00;
    border-radius: 0.125rem;
    cursor: pointer;
    display: flex;
    height: 1rem;
    justify-content: center;
    min-width: 1rem;
    &::after {
        content: "x";
        color: #F3F3F3;
        font-family: monospace;
        font-weight: bold;
        pointer-events: none;
    }
}

.informations-list__container {
    width: 100%;
    max-width: 15rem;
}